/* Write your CSS here */
.list-container {
  list-style-type: none;
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  flex-grow: 1;
  margin-right: 20px;
  margin-bottom: 25px;
}

.similar-product-heading {
  font-size: 30px;
  font-family: 'Roboto';
  font-weight: 800;
  color: #1e293b;
}

.similar-image {
  width: 100%;
  border-radius: 15px;
}

.similar-rating-container {
  display: flex;
  justify-content: space-between;
  align-items: center;
  width: 100%;
}

.similar-brand {
  font-size: 25px;
  font-weight: 600;
  font-family: 'Roboto';
  color: #616e7c;
  margin-top: 0px;
}
